.header {
  background-color: #87ceeb; /* Голубий фон */
  color: white; /* Білий текст */
  width: 100%; /* Ширина на весь екран */
  position: fixed; /* Фіксація заголовка на екрані */
  top: 0; /* Притискання до верхнього краю */
  padding: 10px; /* Відступи для комфортного розташування */
  box-sizing: border-box; /* Для врахування відступів у ширину */
}

h2 {
  margin: 0; /* Забирає відступи */
}

nav a {
  margin-right: 20px; /* Відстань між посиланнями */
  color: white; /* Білий текст для посилань */
  text-decoration: none; /* Прибирання підкреслення з посилань */
}
